<!--Cart Modal -->
<div class="modal fade" id="CartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="panel panel-primary">
            <div class="panel-heading"></div>
            <div class="modal-body">
                <div class="modal-body-text">Bạn đã thêm sản phẩm: <strong id="cart-product-name"></strong> vào giỏ hàng.</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-vote" data-dismiss="modal">Tiếp tục mua hàng</button>
                <button type="button" class="btn btn-default btn-close" onclick="window.location.href='/Order/CheckOut'">Đặt hàng</button>
            </div>
        </div>
    </div>
</div>