<div class="wrapper row5">
    <div id="copyright" class="clear">
        <p class="fl_left">Copyright &copy; 2015 - WTFprice Electronics & Computer Co., Ltd.</p>
        <p class="fl_right">38 Yên Bái - Đà Nẵng</p>
    </div>
</div>