<div class="page_navigation_bg row no_margin">
    <a class="next_page no_padding col-lg-12 col-md-12 col-sm-12 col-xs-12" href="/Ajax/Product.aspx?g=2&amp;sid=H00027&amp;pi=7" style="display: block;"><div><span></span>Xem thêm, còn lại 62 sản phẩm</div></a>
    <a class="next_page no_padding col-lg-12 col-md-12 col-sm-12 col-xs-12" href="/Ajax/Product.aspx?g=2&amp;sid=H00027&amp;pi=8" style="display: none;"><div><span></span>Xem thêm, còn lại 38 sản phẩm</div></a>
    <a class="next_page no_padding col-lg-12 col-md-12 col-sm-12 col-xs-12" href="/Ajax/Product.aspx?g=2&amp;sid=H00027&amp;pi=9" style="display: none;"><div><span></span>Xem thêm, còn lại 14 sản phẩm</div></a>
</div>